<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="dbg" xsi:type="File" fileName="C:\Projects\KaspiLab\KaspiWareHouse\Logs\main-${shortdate}.txt" layout="${longdate}|${level}|${message}" />
    <target name="ex" xsi:type="File" fileName="C:\Projects\KaspiLab\KaspiWareHouse\Logs\ex-${shortdate}.txt" layout="${longdate}|${level}|${message} ${newline}${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Warn" writeTo="dbg" />
    <logger name="*" minlevel="Error" writeTo="ex" />
  </rules>
</nlog>