<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="NewStandardEndpoint0" />
      </webHttpEndpoint>
    </standardEndpoints>
    <bindings>
      <basicHttpBinding>
        <binding name="productBinding" closeTimeout="00:01:00" />
        <binding closeTimeout="00:03:00" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="AdventureWorks.Service.ProductManager">
        <endpoint
           address="http://localhost:8080/Product" binding="basicHttpBinding"
           bindingConfiguration="productBinding"
           contract="AdventureWorks.IService.IProductManager"/>
        <!--<endpoint name="mexpoint"
          address="http://localhost:8080/Product/mex" binding="mexHttpBinding"
          contract="AdventureWorks.IService.IProductManager" />-->
      </service>
    </services>
  </system.serviceModel>
</configuration>