<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="AdventureWorks" connectionString="data source=DESKTOP-61A6HJU;initial catalog=AdventureWorks2019;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="AdventureWorks" connectionString="Server=192.168.100.37;Database=AdventureWorks2019;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <system.serviceModel>
    <services>
      <service name="AdventureWorks.Service.ProductService" behaviorConfiguration="ProductServiceBeh">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/ProductService" />
            <add baseAddress="net.tcp://localhost:9090/ProductService" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8080/ProductService" binding="basicHttpBinding" contract="AdventureWorks.IService.IProductService" />
        <endpoint address="net.tcp://localhost:9090/ProductService" binding="netTcpBinding" contract="AdventureWorks.IService.IProductService" />
        <endpoint address="mex" binding="basicHttpBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
      
      <service name="AdventureWorks.Service.AuthService" behaviorConfiguration="AuthServiceBeh">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/AuthService" />
            <add baseAddress="net.tcp://localhost:9090/AuthService" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8080/AuthService" binding="basicHttpBinding" contract="AdventureWorks.IService.IAuthService" />
        <endpoint address="net.tcp://localhost:9090/AuthService" binding="netTcpBinding" contract="AdventureWorks.IService.IAuthService" />
        <endpoint address="mex" binding="basicHttpBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
      
      <service name="AdventureWorks.Service.BasketService" behaviorConfiguration="BasketServiceBeh">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/BasketService" />
            <add baseAddress="net.tcp://localhost:9090/BasketService" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8080/BasketService" binding="basicHttpBinding" contract="AdventureWorks.IService.IBasketService" />
        <endpoint address="net.tcp://localhost:9090/BasketService" binding="netTcpBinding" contract="AdventureWorks.IService.IBasketService" />
        <endpoint address="mex" binding="basicHttpBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>

      <service name="AdventureWorks.Service.OrderService" behaviorConfiguration="OrderServiceBeh">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/OrderService" />
            <add baseAddress="net.tcp://localhost:9090/OrderService" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8080/OrderService" binding="basicHttpBinding" contract="AdventureWorks.IService.IOrderService" />
        <endpoint address="net.tcp://localhost:9090/OrderService" binding="netTcpBinding" contract="AdventureWorks.IService.IOrderService" />
        <endpoint address="mex" binding="basicHttpBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>

      <service name="AdventureWorks.Service.SalesService" behaviorConfiguration="SalesServiceBeh">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/SalesService" />
            <add baseAddress="net.tcp://localhost:9090/SalesService" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8080/SalesService" binding="basicHttpBinding" contract="AdventureWorks.IService.ISalesService" />
        <endpoint address="net.tcp://localhost:9090/SalesService" binding="netTcpBinding" contract="AdventureWorks.IService.ISalesService" />
        <endpoint address="mex" binding="basicHttpBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ProductServiceBeh">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="AuthServiceBeh">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="BasketServiceBeh">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="OrderServiceBeh">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="SalesServiceBeh">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>